body
  margin: 0
  padding: 0
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  color: #333

.browserupgrade
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0

#map
  position: absolute
  top: 0
  bottom: 0
  width: 100%

.mapboxgl-marker
  width: 50px;
  height: 90px;
  background-repeat: no-repeat
  background-size: contain

#station-details__view img,
#challenge-details__view img,
#splash-screen
  width: 100vw
  display: inherit

#challenge-details__view .challenge-congrats
  display: none
  position: fixed
  z-index: 10000

#challenge-details__view .header
  padding-bottom: 60px

#challenge-details__view .button
  position: fixed
  z-index: 0
  bottom: 0
